@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
  
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}